<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
  <body>
    <%- include('./partials/navbar') %>
    <div class="container">
      <div>
        <h2 id="preguntas-frecuentes" class="title-footer">
          Preguntas frecuentes
        </h2>
        <ol>
          <li class="li-footer">
            ¿Qué debo hacer si mi pedido llega incompleto o mi producto no llega
            en buen estado?
          </li>
          <p class="p-li-footer">
            Ponte en contacto con nosotros a través de nuestra sección de
            reclamos: tiendaorganica@gmail.com
          </p>

          <li class="li-footer">¿En que zonas se realizan envíos?</li>
          <p class="p-li-footer">Realizamos envíos en:</p>
          <ul>
            <li class="p-li-footer">
              Pilar y alrededores. (Tortugas, Del Viso, Escobar).
            </li>
            <li class="p-li-footer">
              Capital Federal (CABA; Se divide en Zona 1 y 2)
            </li>
            <li class="p-li-footer">
              Mercado Pago y todas sus tarjetas asociadas.
            </li>
            <li class="p-li-footer">
              Zona Norte (Vicente Lopez, Florida, Olivos, Munro, San Isidro,
              Nordelta,Tigre).
            </li>
            <li class="p-li-footer">
              Zona Sur (Avellaneda, Bernal, Quilmes, Adrogue, Berazategui, La
              Plata, Barracas.)
            </li>
            <li class="p-li-footer">
              Zona Oeste (Ramos Mejía, Morón, Castelar, Moreno, General
              Rodriguez, Ezeiza.)
            </li>
          </ul>

          <li class="li-footer">¿Cuál es el costo de envío?</li>
          <p class="p-li-footer">
            Envíos gratuitos directo de fábrica a partir de los $3.000.
          </p>

          <li class="li-footer">¿Cuánto tarda en llegar el pedido?</li>
          <p class="p-li-footer">
            El tiempo de entrega dependerá de la zona en la que estes. En
            general la demora se encuentra entre 2 y 4 días hábiles luego de
            acreditado el pago.
          </p>

          <li class="li-footer">¿Qué formas de pago manejan?</li>
          <p class="p-li-footer">
            Disponemos de los siguientes medios de pago:
          </p>
          <ul>
            <li class="p-li-footer">Efectivo contra entrega.</li>
            <li class="p-li-footer">Transferencia bancaria.</li>
            <li class="p-li-footer">
              Mercado Pago y todas sus tarjetas asociadas.
            </li>
          </ul>
        </ol>
      </div>
    </div>
    <%- include('./partials/footer') %> <%- include('./partials/scripts') %>
  </body>
</html>
