<header class="main-header">
  <nav class="navbar">
    <div class="container navbar-wrapper">
      <a href="/">
        <img src="img/logo.png" alt="" class="navbar__logo" />
      </a>
      <form class="navbar__search-wrapper" action="/" method="get">
        <input type="text" class="navbar__search-input" />
        <i class="fa-solid fa-magnifying-glass navbar__search-icon"></i>
      </form>
      <ul class="navbar__menu">
        <li>
          <a href="/register" class="navbar__icon-wrapper">
            <i class="fa-solid fa-user-plus"></i>
            <span>Registrate</span>
          </a>
        </li>
        <li>
          <a href="/login" class="navbar__icon-wrapper">
            <i class="fa-solid fa-right-to-bracket"></i>
            <span>Iniciá Sesión</span>
          </a>
        </li>
        <li>
          <a href="/productcart" class="navbar__icon-wrapper">
            <i class="fa-solid fa-cart-shopping"></i>
            <span>Compras</span>
          </a>
        </li>
        <div class="btn-open">
          <i class="fa-solid fa-bars"></i>
        </div>
      </ul>
    </div>
    <div class="mobile-menu">
      <div class="btn-close">
        <i class="fa-solid fa-times"></i>
      </div>
      <ul class="mobile-menu__user">
        <li>
          <a href="/register" class=""><i class="fa-solid fa-user-plus"></i> Registrate</a>
        </li>
        <li>
          <a href="/login" class=""><i class="fa-solid fa-right-to-bracket"></i> Iniciá Sesión</a>
        </li>
      </ul>
      <ul class="mobile-menu__links">
        <h3 class="mobile-menu__title">Categorías</h3>
        <li><a href="#" class="mobile-menu__link"> Todos los productos </a></li>
        <li><a href="#" class="mobile-menu__link"> Frutas </a></li>
        <li><a href="#" class="mobile-menu__link"> Verduras </a></li>
        <li><a href="#" class="mobile-menu__link"> Canastas </a></li>
      </ul>
      <ul class="mobile-menu__links">
        <h3 class="mobile-menu__title">Nosotros</h3>
        <li><a href="#" class="mobile-menu__link"> Nuestra propuesta </a></li>
        <li><a href="#" class="mobile-menu__link"> Preguntas frecuentes </a></li>
        <li><a href="#" class="mobile-menu__link"> Contacto </a></li>
      </ul>
    </div>
  </nav>
</header>