<div class="imagenes-productos">
  <div class="producto-relacionado">
    <img src="/images/products/<%= product.image %>" alt="foto de <%= product.name %>" />
    <h4><%= product.name %></h4>
    <h4>$<%= product.price %></h4>
    <button>Añadir a carrito</button>
  </div>
</div>