<footer>
  <div class="container">
    <div class="footer-wrapper">
      <a href="/">
        <img src="../images/logo.png" alt="" class="footer__logo" />
      </a>
      <div class="footer__columns">
        <div class="">
          <h3 class="footer__title">Nosotros</h3>
          <ul class="footer__links">
            <li>
              <a href="/about-us" class="footer__link">Nuestra propuesta</a>
            </li>
            <li>
              <a href="/faqs" class="footer__link">Preguntas frecuentes</a>
            </li>
            <li><a href="/contact-us" class="footer__link">Contacto</a></li>
          </ul>
        </div>
        <div class="">
          <h3 class="footer__title">Categorías</h3>
          <ul class="footer__links">
            <li>
              <a href="/products/all" class="footer__link">Todos los productos</a>
            </li>
            <li><a href="/products/category/1" class="footer__link">Frutas</a></li>
            <li><a href="/products/category/2" class="footer__link">Verduras</a></li>
            <li><a href="/products/category/3" class="footer__link">Canastas</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer__copyright-and-social-media">
      <p class="footer__copyright">Copyright &copy2022 - Tienda Orgánica S.R.L.</p>
      <ul class="footer__social-media-links">
        <li>
          <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa-brands fa-instagram"></i></a>
        </li>
      </ul>
    </div>
  </div>
</footer>
