<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
  <body>
    <%- include('./partials/header') %>

    <!-- Slider main container -->
    <div class="swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <div class="container slide">
            <h1 class="slide__title">Productos frescos todo el año</h1>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="container slide">
            <h1 class="slide__title">Suscribite a nuestras ofertas</h1>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="container slide">
            <h1 class="slide__title">Envíos a todo el país</h1>
          </div>
        </div>
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>

      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>

      <!-- If we need scrollbar -->
      <div class="swiper-scrollbar"></div>
    </div>

    <section class="section">
      <div class="container">
        <h2 class="section__title">Destacados</h2>
        <section class="products">
          <article class="product-card">
            <img src="img/canasta-de-frutas.jpg" alt="" class="product-card__img" />
            <div class="product-card__details">
              <h2 class="product-card__title">Canasta de Frutas</h2>
              <span class="product-card__price">$99</span>
            </div>
            <button class="product-card__button">Comprar</button>
          </article>
          <article class="product-card">
            <img src="img/canasta-de-verduras1.jpg" alt="" class="product-card__img" />
            <div class="product-card__details">
              <h2 class="product-card__title">Canasta de Frutas</h2>
              <span class="product-card__price">$99</span>
            </div>
            <button class="product-card__button">Comprar</button>
          </article>
          <article class="product-card">
            <img src="img/canasta-familiar.jpg" alt="" class="product-card__img" />
            <div class="product-card__details">
              <h2 class="product-card__title">Canasta de Frutas</h2>
              <span class="product-card__price">$99</span>
            </div>
            <button class="product-card__button">Comprar</button>
          </article>
        </section>
      </div>
    </section>

    <%- include('./partials/footer') %>
    <script src="../swiper/swiper-bundle.min.js"></script>
    <script src="../js/carousel.js"></script>
    <%- include('./partials/scripts') %>
  </body>
</html>
