<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/styles.css">
  <title>Tienda Orgánica</title>
</head>
<body>
  <section>
    <article class="carrito-compras">
        <h1 class="titulo">Detalle de tu carrito</h1>
          <div class="seccion carrito">
              <h3 class="seccion">Producto</h3>
              <h3 class="seccion"><label>Cantidad</label></h3>
                <h5> <select class="cant" name="can">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                  </select>
                  </h5>
              <h3 class="seccion">Precio</h3>
              <h3 class="seccion"> Subtotal</h3>
              <h3 class="seccion">Eliminar</h3>
                <div class="check">
                <input type="checkbox">
                </div>
          </div>
          <div class="total">
          <h1>Total:$0.00</h1>
          </div>
        <div class="finalizar">
        <div class="seguir">
          <button type="submit">Seguir comprando</button>
        </div>
        <div class="confirmar">
          <button type="submit">Confirmar pedido</button>
        </div>
        </div>
    </article>
  </section>
</body>
</html>