<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
  <body>
    <%- include('./partials/header') %>

    <main>
      <section>
        <div class="banner-carro">
          <div class="container">
            <h1>Detalle de tu carrito</h1>
          </div>
        </div>
        <div class="carrito-compras">
          <div class="contenedorsecciones" class="contenedor my-5">
            <table width="100%">
              <thead>
                <tr>
                  <th>Producto</th>
                  <th>Cantidad</th>
                  <th>Subtotal</th>
                  <th>Eliminar</th>
                </tr>
              </thead>
            </div>
              <tbody>
                <tr>
                  <td>
                    <div class="dentrode-carro">
                     <img src="images/products/canasta-familiar.jpg" alt="imagenproducto">
                    <div>
                      <p>Canasta familiar 1</p>
                      <small>$1200</small>
                      </div>
                      </div>
                      </td>
                  <td><input value="1" type="number"></td>
                  <td>$1200</td>
                  <td><a href="#"><i class="fas fa-trash-alt"></i></a></td>
                </tr>>
              </tbody>
            </table>
          <div class="total">
            <h1>Total:$0.00</h1>
          </div>
          <div class="finalizar">
            <div class="seguir">
              <button type="submit">Seguir comprando</button>
            </div>
            <div class="confirmar">
              <button type="submit">Confirmar pedido</button>
            </div>
          </div>
          </div>
      </section>
      <section id="abajo-carro" class="contenedor-abajocarro">
        <div class="row">
          <div class="cupon">
            <div>
              <h5>Cup贸n</h5>
              <P>Ingresar codigo de cup贸n</P>
              <input type="text" placeholder="codigo de cup贸n">
            </div>
            <div class="confirmar">
              <button type="submit">Aplicar cup贸n</button>
            </div>
          </div>
          <div class="total">
            <div>
              <h5>Total de carrito</h5>
              <div class="d-flex justify-content-between">
                <h6>Subtotal</h6>
                <p>$1200</p>
              </div>
              <div class="d-flex justify-content-between">
                <h6>Descuento</h6>
                <p>$120</p>
              </div>
              <hr class="segundo-hr">
              <div class="d-flex juntify-content-between">
                <h6>Total</h6>
                <p>$1200</p>
              </div>
                <div class="confirmar">
                  <button type="submit">Confirmar pedido</button>
                </div>
              </div>
           

            </div>
          </div>
        </div>
      </section>
      <div class="iconocarro">
        <i class="fas fa-shopping-cart"></i>
      </div>
    </main>
    <%- include('./partials/footer') %>
    <%- include('./partials/scripts') %>
  </body>
</html>
