<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/styles.css" />
    <script src="https://kit.fontawesome.com/6bd1af9c32.js" crossorigin="anonymous"></script>
    <title>Tienda Orgánica</title>
  </head>
  <body>
    <header class="hero">
      <nav class="navbar">
        <div class="navbar-wrapper">
          <a href="/">
            <img src="img/logo.png" alt="" class="navbar__logo" />
          </a>
          <div class="navbar__search-wrapper">
            <input type="text" class="navbar__search-input" />
            <i class="fa-solid fa-magnifying-glass navbar__search-icon"></i>
          </div>
          <div class="navbar__menu">
            <i class="fa-solid fa-cart-shopping"></i>
            <i class="fa-solid fa-bars"></i>
          </div>
        </div>
        <ul class="mobile-menu">
          <li><a href="#" class="">Inicio</a></li>
          <li><a href="#" class="">Acerca de nosotros</a></li>
          <li><a href="#" class="">Servicios</a></li>
        </ul>
      </nav>
    </header>
    <section>
      <article class="detalle-producto">
        <div class="fotoproducto">
          <img src="img/canasta-de-verduras1.jpg" alt="foto de producto" />
        </div>
        <div class="titulo-produc">
          <h3>Producto</h3>
          <h4>precio</h4>
          <h4>$0.00</h4>
          <h4><label>Cantidad</label></h4>
          <h5>
            <select>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </h5>
          <div class="confirmar">
            <button type="submit">Confirmar pedido</button>
          </div>
        </div>
      </article>
    </section>
    <div class="iconocarro">
      <i class="fas fa-shopping-cart"></i>
    </div>
    <footer>
      <div class="container">
        <p class="">Copyright &copy2022 - Tienda Orgánica S.R.L.</p>
      </div>
    </footer>
  </body>
</html>
