<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/6bd1af9c32.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/styles.css" />
    <title>Tienda Orgánica</title>
  </head>
  <body>
    <%- include('./partials/header') %>

    <main>
      <section>
        <div class="contenedorcarro">
       
        <div class="carrito-compras">
          <h1 class="titulo">Detalle de tu carrito</h1>
          <div class="contenedorsecciones" class="contenedor my-5">
            <table width="100%">
              <thead>
                <tr>
                  <td>Producto</td>
                  <td>imagen</td>
                  <td>Cantidad</td>
                  <td>Precio</td>
                  <td>Subtotal</td>
                  <td>Eliminar</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><h5>Canasta familiar 1</h5></td>
                  <td>><img src="img/canasta-familiar.jpg" alt="imagenproducto"></td>
                  <td><input value="1" type="number"></td>
                  <td>
                    <h5>$1200</h5>
                  </td>
                  <td>
                    <h5>$1200</h5>
                  </td>
                  <td><a href="#"><i class="fas fa-trash-alt"></i></a></td>
                  

                </tr>>
              </tbody>
            </table>
          <div class="total">
            <h1>Total:$0.00</h1>
          </div>
          <div class="finalizar">
            <div class="seguir">
              <button type="submit">Seguir comprando</button>
            </div>
            <div class="confirmar">
              <button type="submit">Confirmar pedido</button>
            </div>
          </div>
          </div>
      </section>
      <div class="iconocarro">
        <i class="fas fa-shopping-cart"></i>
      </div>
    </main>
    <%- include('./partials/footer') %>
  </body>
</html>
