* {
  box-sizing: border-box;
}

.form-register {
  width: 500px;
  background: #A1AEE4;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  color: white;
}

.form-register h4 {
  font-size: 22px;
  margin-bottom: 20px;
  text-align: center;
}

.controls {
  width: 100%;
  background: #D1E9A3;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
  border: 1px solid #D1E9A3;
  font-size: 18px;
  color: white;
}

.form-register p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}

.form-register a {
  color: white;
}

.form-register a:hover {
  color: white;
  text-decoration: underline;
}

.form-register .bottons {
  width: 100%;
  vertical-align: center;
  background: #E6BE82;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
}