* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Nunito", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  width: 100%;
  max-width: 72rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.hero {
  position: relative;
  padding-top: 4.1rem;
}

.swiper {
  height: 450px;
  margin: 0 auto;
}

.slide {
  height: 100%;
  display: flex;
  align-items: center;
}

.bg-celeste {
  background-color: #a1aee4;
}

.bg-verde {
  background-color: #d1e9a3;
}

.bg-naranja {
  background-color: #e6be82;
}

.swiper-bg {
  background-size: cover;
  background-position: center;
  object-fit: cover;
  height: 100%;
}

.bg-1 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("./../img/hero-1.jpeg");
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  padding: 1rem 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.navbar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__logo {
  width: 4rem;
}

.navbar__search-wrapper {
  position: relative;
  display: none;
}

.navbar__search-input {
  padding: 0.5rem;
  padding-left: 1.8rem;
}

.navbar__search-icon {
  position: absolute;
  left: 0;
  top: 0;
  padding: 0.5rem;
}

.navbar__menu {
  display: flex;
  gap: 1rem;
}

.navbar__icon-wrapper i {
  font-size: 1.25em;
}

.navbar__icon-wrapper span {
  display: none;
}

.navbar__menu .navbar__icon-wrapper:nth-child(1),
.navbar__menu .navbar__icon-wrapper:nth-child(2) {
  display: none;
}

.mobile-menu {
  position: fixed;
  z-index: 10;
  background-color: #d1e9a3;
  inset: 0;
  margin: 0;
  padding: 4rem;
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
}

.mobile-menu.is-open {
  transform: translateY(0);
  overflow: hidden;
}

.swiper-button-prev,
.swiper-button-next {
  display: none;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 1rem;
}

.product-card {
  display: flex;
  flex-direction: column;
  border-radius: 0.375rem;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.product-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.product-card__img-wrapper {
  height: 13rem;
  overflow: hidden;
}

.product-card__img {
  object-fit: cover;
  object-position: center;
}

.product-card__details {
  padding: 1rem;
  background-color: #fff;
}

.product-card__title {
  font-size: 1.1em;
  font-weight: bold;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-card__button {
  margin: 1rem;
  padding: 0.75rem 1rem;
  border-radius: 3rem;
  border: 0;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  cursor: pointer;
}

.form-register {
  width: 500px;
  background: #a1aee4;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  color: white;
}

.form-register h4 {
  font-size: 22px;
  margin-bottom: 20px;
  text-align: center;
}

.controls {
  width: 100%;
  background: #d1e9a3;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
  border: 1px solid #d1e9a3;
  font-size: 18px;
  color: white;
}

.form-register p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}

.form-register a {
  color: white;
}

.form-register a:hover {
  color: white;
  text-decoration: underline;
}

.form-register .bottons {
  width: 100%;
  vertical-align: center;
  background: #e6be82;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
}

footer {
  border-top: 1px solid #333;
}

/* TABLET */
@media screen and (min-width: 48rem) {
}

/* DESKTOP */
@media screen and (min-width: 64rem) {
  .mobile-menu {
    display: none;
  }

  .swiper:hover .swiper-button-prev,
  .swiper:hover .swiper-button-next {
    display: block;
  }

  .navbar__search-wrapper {
    display: block;
  }

  .navbar__icon-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .navbar__icon-wrapper i {
    font-size: 1em;
  }

  .navbar__icon-wrapper span {
    display: block;
    font-size: .8em;
  }

  .navbar__menu .navbar__icon-wrapper:nth-child(1),
  .navbar__menu .navbar__icon-wrapper:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .navbar__menu .navbar__icon-wrapper:nth-child(4) {
    display: none;
  }

  .products {
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  }
}

/*carrito de compras*/
.titulo {
  font-size: 30px;
  font-weight: bold;
}
.carrito-compras {
  height: 60%;
  width: 70%;
  border: solid 1px #bb8ac3;
  padding: 30px;
  margin: auto;
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
.seccion {
  font-weight: lighter;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
select .cant {
  position: relative;
  right: 90px;
  top: 30px;
}
.check {
  position: relative;
  top: 50px;
  right: 100px;
}
.total {
  font-size: 25px;
}

.total h1 {
  text-align: right;
}

.finalizar {
  display: flex;
  justify-content: space-around;
}
.seguir button {
  background-color: red;
  color: white;
  border: none;
  padding: 12px;
  margin: 16px 0;
  font-size: 16px;
  transition: background-color 1s;
}
.seguir button:hover {
  background-color: tomato;
}
.confirmar button {
  background-color: green;
  color: white;
  border: none;
  padding: 12px;
  margin: 16px 0;
  font-size: 16px;
  transition: background-color 1s;
}
.confirmar button:hover {
  background-color: lightgreen;
}
.iconocarro {
  position: fixed;
  bottom: 50px;
  right: 90px;
  color: darkviolet;
  font-size: 30px;
  padding: 5px;
  width: 30px;
  height: 30px;
  background-color: #fff;
}
.iconocarro:hover {
  animation-name: muevecarro;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
/*detalle de producto*/
.detalle-producto {
  display: flex;
  flex-direction: row;
}
.titulo-produc {
  display: flex;
  flex-direction: column;
}
.fotoproducto {
  width: 50%;
}

@keyframes muevecarro {
  from {
    transform: rotate(-90deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

@media (min-width: 361px) {
}
