:root {
  --light-green: #eeffcc;
  --green: #d1e9a3;
  --dark-green: #2b8652;
  --light-orange: #ffebcc;
  --orange: #e6be82;
  --black: #2d2d2d;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  color: var(--black);
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: var(--black);
}

a:hover {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  width: 100%;
  max-width: 92rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.swiper {
  height: 70vh;
  margin: 0 auto;
}

.slide__title {
  font-size: clamp(2rem, 10vw, 5rem);
}

.section {
  padding: 2.5rem 0;
}

.navbar {
  padding: 1rem 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  transition: all 0.3s ease-in-out;
}

.navbar.is-scrolled {
  position: fixed;
  background-color: var(--light-green);
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.navbar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__logo {
  width: 6rem;
}

.navbar__search-wrapper {
  position: relative;
  display: none;
}

.navbar__search-input {
  padding: 0.5rem;
  padding-left: 1.8rem;
}

.navbar a,
.btn-open {
  color: var(--black);
}

.navbar__search-icon {
  position: absolute;
  left: 0;
  top: 0;
  padding: 0.5rem;
}

.navbar__menu {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.navbar__menu span {
  text-transform: uppercase;
}

.navbar__menu .navbar-cta {
  border-radius: 4rem;
  padding: 0.8rem 1.8rem;
  background-color: var(--orange);
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: bold;
}

.navbar__menu .navbar-cta:hover {
  transform: scale(1.1);
  color: var(--black);
}

.dropdown {
  position: relative;
  display: none;
}

.dropdown:hover .dropdown__list {
  border: 2px solid;
  transform: scale(1);
}

.dropdown__list {
  position: absolute;
  z-index: -1;
  top: 2rem;
  left: 0;
  width: 16rem;
  display: flex;
  flex-direction: column;
  border-radius: 0.5em;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  transform: scale(0);
  transform-origin: top left;
  transition: all 0.3s ease-in-out;
  background-color: var(--green);
}

.dropdown__list a:hover {
  background-color: var(--green);
}

.dropdown__list a {
  border-radius: 5rem;
  padding: 1rem;
}

.navbar__icon-wrapper {
  transition: all 0.2s ease-in-out;
}

.navbar__icon-wrapper:hover {
  color: var(--orange);
}

.navbar__icon-wrapper i,
.btn-open {
  font-size: 1.25em;
}

.navbar__icon-wrapper span {
  display: none;
}

.navbar__menu-profile {
  position: relative;
  padding: 1rem 0;
  display: none;
  cursor: pointer;
}

.navbar__menu-profile div,
.mobile-menu__user div {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.navbar__menu-avatar {
  display: block;
  aspect-ratio: 1;
  width: 3.5rem;
  border-radius: 50%;
  object-fit: cover;
}

.navbar__menu-profile__links {
  position: absolute;
  z-index: 50;
  top: 5rem;
  left: 2rem;
  min-width: 12rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  border-radius: 0.375rem;
  background-color: var(--orange);
  transform: scale(0);
  transform-origin: top left;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 0 #0000, 0 0 #0000, 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.navbar__menu-profile__links a {
  display: block;
  padding: 1rem;
}

.navbar__menu-profile__links li:hover a {
  background-color: var(--light-orange);
  text-decoration: none;
  border-radius: 0.375rem;
}

.navbar__menu-profile:hover .navbar__menu-profile__links {
  transform: scale(1);
}

.btn-open {
  cursor: pointer;
}

.navbar-cta {
  display: none;
}

.mobile-menu {
  position: fixed;
  z-index: 10;
  inset: 0;
  width: 80vw;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 4rem 2rem;
  background-color: var(--orange);
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

.mobile-menu .navbar__icon-wrapper {
  font-size: 1.5rem;
}

.mobile-menu.is-open {
  transform: translateX(0);
  overflow: hidden;
}

.btn-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.86);
}

.mobile-menu__user span {
  font-size: 1.5rem;
}

.mobile-menu__title {
  border-bottom: 2px solid var(--black);
  margin: 0;
}

.mobile-menu__links,
.footer__links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer__link:hover {
  color: #fff;
}

.mobile-menu__link:active {
  color: #fff;
}

.swiper-button-prev,
.swiper-button-next {
  color: var(--dark-green);
  display: none;
}

.swiper-pagination-bullet {
  color: var(--green);
}

.swiper-pagination-bullet-active {
  background-color: var(--dark-green);
}

.slide {
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.swiper-slide {
  height: ;
}

#bannercomision {
  background-image: url(/images/banner-comision.png);
}
#banner-frutas {
  background-image: url(/images/banner-frutas.png);
}
#banner-vegetales {
  background-image: url(/images/banner-vegetales.png);
}

.section__title {
  color: var(--orange);
}

.search-form {
  margin: 2rem auto;
  max-width: 48rem;
}

.search-wrapper {
  display: flex;
  margin: 0 auto;
}

.search-form input {
  width: 100%;
  padding: 0.5rem;
  border-top-left-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem;
}

.search-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  padding: 0 1rem;
  border-top-right-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
  margin-left: -2px;
}

.crud-btn,
.not-found {
  grid-column: 1 / -1;
  margin: 1rem 0 2rem;
}

.btn-404 {
  width: auto;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
  padding: 1rem;
  gap: 1rem;
}

.products__grid-layout {
  display: grid;
  grid-template-columns: 1fr;
}

.products__categories {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.products__categories-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.products__categories-link:hover {
  color: inherit;
  text-decoration: underline;
}

.products__categories-links.is-open {
  transform: translateX(0);
  display: flex;
  flex-direction: column;
}

.product-card {
  position: relative;
  padding: 2rem 0 1rem;
  display: flex;
  flex-direction: column;
  border-radius: 0.375rem;
  background-color: #fff;
  overflow: hidden;
  transition: all 0.3s ease-in-out !important;
  text-align: left;
  box-shadow: 0 0 #0000, 0 0 #0000, 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.product-card:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0 0 #0000, 0 0 #0000, 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.product-card__edit-btn {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  padding: 1rem;
  font-size: 1.1rem;
  color: rgba(0, 0, 0, 0.6);
  background-color: var(--light-orange);
  border-radius: 0.375rem;
}

.product-card__edit-btn:hover {
  color: var(--orange);
}

.en-oferta {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  padding: 1rem;
}

.blank {
  margin: 2rem 0;
}

.product-card:hover .product-card__img {
  transform: scale(1.1);
}

.product-card:hover .product-card__button {
  text-decoration: none;
  color: #fff;
}

.product-card__img-wrapper {
  height: 13rem;
  overflow: hidden;
}

.product-card__img {
  object-fit: cover;
  object-position: center;
  transition: all 0.3s ease-in-out;
}

.product-card__details {
  padding: 0 1rem;
}

.product-card__details div {
  padding: 1rem;
}

.product-card:hover .product-card__details {
  color: inherit;
  text-decoration: none;
}

.product-card__title {
  font-size: 1.1em;
  font-weight: bold;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-card__price,
.product-card__presentation {
  margin: 0;
}

.product-card__button,
.button {
  display: block;
  margin: 0 1rem;
  padding: 0.75rem 1rem;
  border-radius: 3rem;
  border: 0;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.delete-btn {
  background-color: red;
}

.divided-screen {
  display: flex;
  flex-direction: column;
}

.bg-green {
  background-color: var(--green);
}

.bg-light-green {
  background-color: var(--light-green);
}

.bg-dark-green {
  background-color: var(--dark-green);
}

.bg-light-orange {
  background-color: var(--light-orange);
}

.bg-orange {
  background-color: var(--orange);
}

.left-screen {
  min-height: 90vh;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
}

.right-screen {
  padding: 0 1rem;
}

.form {
  max-width: 28rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0 auto;
  padding: 1rem;
}

.form__title {
  font-size: 1.8rem;
  font-weight: bold;
}

.text-dark-green {
  color: var(--dark-green);
}

.text-orange {
  color: var(--orange);
}

.text-white {
  color: white;
}

.form input,
.form textarea {
  padding: 0.5rem;
  width: 100%;
}

.form input[type="checkbox"] {
  width: auto;
}

label {
  margin-bottom: 0.1rem;
}

.is-invalid {
  border: 2px solid red;
}

.text-invalid {
  color: red;
}

.is-valid {
  border: 2px solid green;
}

.text-valid {
  color: green;
}

.animation-shake {
  animation: shake 0.8s ease-in-out;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(-2%);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(2%);
  }
}

footer {
  border-top: 1px solid rgb(220, 220, 220);
  padding-bottom: 1rem;
  background-color: var(--light-orange);
  margin-top: auto;
}

.footer__logo {
  display: block;
  width: 14rem;
  margin: 2rem auto 1rem;
}

.footer__title {
  font-size: 1.5em;
  font-weight: bold;
}

.footer-wrapper {
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
  justify-items: center; */
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 1.5rem 0;
}

.footer__columns {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin-bottom: 2.5rem;
}

.footer__copyright-and-social-media {
  border-top: 1px solid var(--black);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer__copyright {
  text-align: center;
}

.footer__social-media-links {
  font-size: 2em;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.footer__social-media-links a {
  padding: 1rem;
}

/* TABLET */
@media screen and (min-width: 48rem) {
  .product-card {
    box-shadow: none;
    transition: all 0.3s ease-in-out;
  }
}

/* DESKTOP */
@media screen and (min-width: 64rem) {
  .mobile-menu {
    display: none;
  }

  .navbar__logo {
    width: 10rem;
  }

  .swiper:hover .swiper-button-prev,
  .swiper:hover .swiper-button-next {
    display: block;
  }

  .navbar__search-wrapper {
    display: block;
  }

  .dropdown {
    position: relative;
    display: block;
  }

  .navbar__icon-wrapper {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .navbar__icon-wrapper i,
  .btn-open {
    font-size: 1.2em;
  }

  .navbar__icon-wrapper span {
    display: block;
    font-size: 1em;
  }

  .navbar__menu-profile {
    display: block;
  }

  .btn-open {
    display: none;
  }

  .left-screen {
    padding: 2rem 1rem;
    flex-basis: 35%;
    justify-content: center;
    align-items: center;
  }

  .right-screen {
    padding: 0 1rem;
    flex-basis: 65%;
  }

  .products__categories {
    border-right: 1px solid rgb(235, 235, 235);
  }

  .products__grid-layout {
    grid-template-columns: minmax(10rem, 20%) 1fr;
    margin-top: 2rem;
    margin-bottom: 4rem;
  }

  .product-card__edit-btn {
    position: absolute;
    font-size: 0.8rem;
    top: 0;
    right: 0;
    padding: 1rem;
    color: rgba(0, 0, 0, 0.6);
    background-color: var(--light-orange);
    border-radius: 0.375rem;
  }

  .footer-wrapper {
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
  }

  .footer__columns {
    justify-content: flex-start;
  }

  .footer__copyright-and-social-media {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .divided-screen {
    flex-direction: row;
  }
}

/*carrito de compras*/
.titulo-carrito {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  color: #e6be82;
  padding-left: 4rem;
  padding-top: 2rem;
}
.carrito-compras {
  width: 90%;
  border: none;
  margin: 80px auto;
  box-shadow: -2px 4px 12px 10px rgba(230, 190, 130, 0.86);
}
.contenedorsecciones {
  overflow-x: auto;
}
.contenedorsecciones table {
  border-collapse: collapse;
  width: 100%;

  display: table;
}
.contenedorsecciones table thead {
  font-weight: 700;
}
.contenedorsecciones table thead {
  background: #e6be82;
  color: #fff;
  padding: 6px 0;
  border: none;
  text-align: center;
}
.contenedorsecciones table tbody {
  background: white;
  color: black;
  text-align: center;
}
.contenedorsecciones table input {
  width: 40px;
  padding-left: 1px;
}
.contenedorsecciones table td:nth-child(1),
.contenedorsecciones table td:nth-child(2) {
  width: 150px;
}
.contenedorsecciones table td:nth-child(3),
.contenedorsecciones table td:nth-child(4) {
  width: 150px;
}

.contenedorsecciones table tbody img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin: auto;
}
.contenedorsecciones table tbody a {
  color: #e6be82;
}
.total {
  font-size: 25px;
}

.total h1 {
  text-align: right;
}

.finalizar {
  display: flex;
  justify-content: space-around;
}
.seguir button {
  background-color: var(--orange);
  color: white;
  border: none;
  border-radius: 20px;
  padding: 0.75rem 3.2rem;
  margin: 16px 0;
  font-size: 16px;
  transition: background-color 1s;
}
.seguir button:hover {
  background-color: var(--light-orange);
}
.confirmar button {
  background-color: var(--dark-green);
  color: white;
  border: none;
  padding: 0.75rem 3.2rem;
  border-radius: 20px;
  margin: 16px 0;
  font-size: 16px;
  transition: background-color 1s;
}
.confirmar button:hover {
  background-color: var(--light-green);
}
#abajo-carro .cupon > div,
#abajo-carro .total > div {
  border: 1px solid #b6b3b3;
}
#abajo-carro h5 {
  background: #e6be82;
  color: #fff;
  padding: 6px 12px;
  border: none;
  text-align: center;
  font-weight: 500;
  font-size: large;
}

#abajo-carro .cupon,
#abajo-carro .total {
  width: 70%;
  margin: 10px 50px;
  padding-top: 10px;
}

#abajo-carro .tablas-carrito {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#abajo-carro .cupon p,
#abajo-carro .cupon h6 {
  padding: 0 12px;
}
.flex {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
  font-weight: 400;
  font-size: medium;
}
#abajo-carro .cupon input,
#abajo-carro .cupon button,
#abajo-carro .total button {
  height: 44px;
  margin: 0 0 20px 12px;
}
/* .iconocarro {
  position: fixed;
  bottom: 50px;
  right: 90px;
  color: darkviolet;
  font-size: 30px;
  padding: 5px;
  width: 30px;
  height: 30px;
  background-color: #fff;
}
.iconocarro:hover {
  animation-name: muevecarro;
  animation-duration: 1s;
  animation-iteration-count: infinite;
} */

/*detalle de producto*/

.contenedor-detalleproducto {
  display: flex;
  flex-direction: column;
  padding: 1px;
  margin: 50px 20px;
  box-shadow: -2px 4px 12px 10px rgba(230, 190, 130, 0.86);
}
.detalle-producto {
  padding-top: 30px;
}
.detalle-producto select {
  display: block;
  padding: 5px 10px;
  margin-bottom: 10px;
  width: 100px;
}
.detalle-producto .product-card__button {
  background-color: var(--orange);
  color: white;
  border: none;
  border-radius: 20px;
  padding: 0.75rem 3.2rem;
  margin: 16px 0;
  font-size: 13px;
  width: fit-content;
}
.detalle-producto .product-card__button:hover {
  background-color: var(--light-orange);
}
.detalle-producto .description {
  font-style: italic;
  width: 1rem;
}
.fotoproducto {
  width: 100%;
  margin-right: 0px;
}
.titulo-productos h2 {
  text-align: center;
  margin-top: 5px;
  padding-left: 10px;
  line-height: 20px;
}
.contenedor-productos ul {
  display: flex;
  flex-direction: column;
  padding-left: 100px;
  padding-bottom: 20px;
}
.contenedor-productos h4 {
  font-weight: bold;
  line-height: 10px;
  margin-left: 15px;
}
.producto-relacionado {
  cursor: pointer;
}
.contenedor-productos .producto-relacionado img {
  width: 80%;
  transition: 0.3s all;
}

.producto-relacionado .product-card-button {
  background-color: tomato;
  color: white;
  border: none;
  padding: 12px;
  margin: 16px 0;
  font-size: 16px;
  transform: translateY(20px);
  opacity: 1;
  transition: 0.3 all;
}

.form-profile {
  padding-top: 100px;
}
div.errores ul {
  padding: 1rem;
  border-radius: 0.1rem;
  color: red;
}
/*formulario de productos*/
.form-product {
  padding: 3.5rem 0;
}
.form h4 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #e6be82;
}
.main-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 1rem;
}
.field {
  display: flex;
  flex-direction: column;
  width: 20rem;
  margin: 0.5rem;
}
.field label,
.textbox label {
  font-size: 0.9rem;
  margin-bottom: 0.2rem;
  color: #696969;
}
.field input {
  font-size: 1.1rem;
  width: 70%;
  height: 2.2rem;
  padding-left: 0.5rem;
  border: 2px solid #696969;
  border-radius: 5px;
}
.field select {
  font-size: 1.1rem;
  width: 16rem;
  height: 2.6rem;
  padding-left: 0.5rem;
  border: 2px solid #696969;
  border-radius: 5px;
}
.textbox {
  display: flex;
  flex-direction: column;
  width: 30rem;
  margin: 0.75rem 0;
}
.textbox textarea {
  font-size: 1.1rem;
  max-width: 100%;
  height: 5rem;
  max-height: 15rem;
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  border: 2px solid #696969;
  border-radius: 5px;
}
.botton-form {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 1rem;
  margin-right: auto;
  margin-left: auto;
}
.botton-form .bottons {
  font-size: 1.3rem;
  padding: 0.75rem 1.2rem;
  border: 2px solid #696969;
  border-radius: 5px;
}
button #create {
  width: 12rem;
}

/*ADMIN*/

.admin-title {
  font-size: 50px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: #e6be82;
  display: flex;
  justify-content: center;
}

.b-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.a-boton {
  width: 25%;
  background-color: #2b8652;
  border: none;
  border-radius: 5px;
  color: #fff;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 8px 2px;
  cursor: pointer;
}
/*FOOTER*/
.title-footer {
  font-size: 45px;
  font-weight: bold;
  color: #2b8652;
  text-align: center;
  margin-bottom: 20px;
}
.p-footer {
  font-size: 20px;
  color: black;
  text-align: center;
  margin-bottom: 20px;
}
.li-footer {
  font-size: 30px;
  color: #e6be82;
  margin-bottom: 20px;
}
.p-li-footer {
  font-size: 20px;
  color: black;
  margin-bottom: 20px;
}

/*AVATAR PROFILE*/
.avatar-profile {
  max-width: 15rem;
}

.error-container {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*VIEW FOOTER*/
.title-footer {
  font-size: 45px;
  font-weight: bold;
  color: #2b8652;
  text-align: center;
  margin-bottom: 20px;
}

.p-footer {
  font-size: 20px;
  color: black;
  text-align: center;
  margin-bottom: 20px;
}

.li-footer {
  font-size: 30px;
  color: #e6be82;
  margin-bottom: 20px;
}

.p-li-footer {
  font-size: 20px;
  color: black;
  margin-bottom: 20px;
}

/*BOTON PAGINACION*/

.button-pag {
  display: flex;
  justify-content: flex-end;
}
.button-pag button {
  background-color: #2b8652;
  border: none;
  border-radius: 5px;
  color: #fff;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 8px 2px;
  cursor: pointer;
}

@media (min-width: 480px) {
  #abajo-carro .row {
    flex-direction: row;
    justify-content: space-around;
  }

  #abajo-carro .cupon,
  #abajo-carro .total {
    width: 70%;
  }
  /*detalle de producto*/
  .contenedor-detalleproducto {
    display: flex;
    flex-direction: row;
  }
  .fotoproducto {
    width: 40%;
    margin-right: 50px;
  }
  .detalle-producto {
    width: 50%;
  }
  .detalle-producto .description {
    width: 1rem;
    text-align: center;
  }

  .contenedor-productos ul {
    flex-direction: row;
  }
  .titulo-productos {
    text-align: left;
  }

  .producto-relacionado .product-card-button {
    opacity: 0;
  }
  .producto-relacionado:hover .product-card-button {
    transform: translateY(0);
    opacity: 1;
  }
  .contenedor-productos .producto-relacionado:hover img {
    opacity: 0.7;
  }

  .product-card {
    text-align: center;
    transition: all 0.3s ease-in-out;
  }
}
