<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
  <body>
    <%- include('./partials/navbar') %>
    <div class="container">
      <div>
        <h1 id="nosotros" class="title-footer">Nosotros</h1>
        <p class="p-footer">
          Desde "Tienda Orgánica” ofrecemos productos orgánicos libres de
          químicos, pesticidas, fertilizantes o aditivos sintéticos. Nuestros
          productos tienen muchas más vitaminas, minerales y antioxidantes que
          los productos convencionales.
        </p>
      </div>
      <div>
        <h2 class="title-footer">Nuestra propuesta</h2>
        <p class="p-footer">
          Dirigido a todo consumidor responsable, ya que promovemos el
          desarrollo económico de pequeños productores, la protección del medio
          ambiente y el cuidado de la salud humana.
        </p>
      </div>

      <div>
        <h2 id="contacto" class="title-footer">Contacto</h2>
        <p class="p-li-footer">correo electrónico: tiendaorganica@gmail.com</p>
      </div>
    </div>
    <%- include('./partials/footer') %> <%- include('./partials/scripts') %>
  </body>
</html>
