<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
  <body>
    <%- include('./partials/navbar') %>

    <div class="error-container">
      <h1 class="slide__title">
        Ups, esa página desapareció.
      </h1>
      <a href="/" class="button bg-green btn-404">Ir al inicio</a>
    </div>

    <%- include('./partials/footer') %>

    <%- include('./partials/scripts') %>
  </body>
</html>
