<!DOCTYPE html>
<html lang="en">
  <%- include('./../partials/head') %>
  <body>
    <%- include('./../partials/header') %>

    <section class="main-form">
      <div class="container-form">
        <form action="/" method="GET">
          <h4>¡Qué gusto volver a verte!</h4>
          <input class="controls" type="email" name="correo" id="correo" placeholder="Ingresa tu e-mail" />
          <input class="controls" type="password" name="pass" id="pass" placeholder="Ingresa tu contraseña" />
          <span>Olvidé mi contraseña</span>
          <input class="bottons" type="submit" value="Iniciar sesión" />
        </form>
      </div>
    </section>

    <%- include('./../partials/footer') %> 
    <%- include('./../partials/scripts') %>
  </body>
</html>
