<!DOCTYPE html>
<html lang="en">
  <%- include('./../partials/head') %>
  <body>
    <%- include('./../partials/header') %>
    <section class="section">
      <div class="divided-screen">
        <div>
          <div class="container-form">
            <form
              id="form"
              class="main-form"
              action="#"
              method="post"
              enctype="multipart/form-data"
            >
              <h4>Registrate en Tienda Organica en 1'!</h4>
              <input
                class="controls"
                type="text"
                name="name"
                id="name"
                placeholder="Ingresa tu nombre"
              />
              <input
                class="controls"
                type="text"
                name="lastname"
                id="lastname"
                placeholder="Ingresa tu apellido"
              />
              <input
                class="controls"
                type="email"
                name="email"
                id="email"
                placeholder="Ingresa tu e-mail"
              />
              <input
                class="controls"
                type="password"
                name="password"
                id="password"
                placeholder="Ingresa tu contraseña"
              />
              <p>Estoy de acuerdo con <a href="#">Terminos y Condiciones</a></p>
              <input
                id="buttonSend"
                class="bottons"
                type="submit"
                value="REGISTRARME"
              />
              <p><a href="#">Ya estoy registrado</a></p>
            </form>
          </div>
        </div>
        <div class="">
          <div class="container"></div>
        </div>
      </div>
    </section>

    <script src="/js/register.js"></script>
    <%- include('../partials/scripts') %>
  </body>
</html>
